.imgCanvasContainer {
  width: 80%;
  align-items: center;
  justify-content: center;
  position: relative;
  canvas {
    max-width: 100%;
  }
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
}

.labelInputContainer input {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: aliceblue;
  color: black;
  padding: 10px;
}

.deleteButton {
  background-color: transparent;
  border-radius: 0.25rem;
  border: 2px solid red;
  padding: 5px;
  cursor: pointer;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: start;
  margin: 20px;
  gap: 10px;
}
